.body {
  height: 200px;
}
#container {
  background-color:aquamarine;
  height: 125
  px;
}
.redblock {
  display: inline-block;
  background-color: orange;
  padding: 50px;
  color: white;
  font-family: sans-serif;
}
#shape {
  background-color:rgb(225, 127, 255);
  height: 125
  px;
}